/* Navigation section */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0 7px;
    padding-bottom: 8px;
}

/* Home section */
#home{
    height: 280px;
    padding: 3px 8px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}

/* Service section */
#services{
    flex-direction: column;

}

#services .box {
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

/* clients section */

#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 65px;
    padding: 0px 6px;
    height: auto;
}
/* contact section */
#contact-box form{
    width: 80%;
}

/* Footer  */

/* utility classes */

.h-primary{
    font-size: 28px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}